*~
*.[0-9]
*.[0-9]x
+*.[0-9]x
aclocal.m4
autom4te.cache/
autoscan.log
*.bak
*.bin
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config-ml.in
config.py
config.status
config.status.lineno
config.sub
configure
configure.scan
core
depcomp
.deps/
*.dll
*.exe
INSTALL
install-sh
*-ISO*.bdf
*-JIS*.bdf
*.kld
*.ko
*.ko.cmd
*-KOI8*.bdf
*.lai
.libs/
libtool
libtool.m4
*.l[oa]
ltmain.sh
lt~obsolete.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
Makefile
Makefile.in
mdate-sh
missing
mkinstalldirs
*.[oa]
*.obj
*.patch
*.pc
*.pcf.gz
*.pdb
py-compile
*.so
stamp-h?
symlink-tree
*.tar.bz2
*.tar.gz
texinfo.tex
ylwrap
